.Tristan {
color:aqua
}

@layer components {
  /* .btn-primary {
      @apply py-1.5 px-3 text-center bg-blue-700 rounded-md text-white;
  } */
}
html {
  scroll-behavior: smooth;
}
nav {
  background-color: #1f2937;
}
.project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-card .p-5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card .p-5 a {
  margin-top: auto;
}

@media (max-width: 640px) {
  .grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1025px) {
  .grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@keyframes gradient-border {
  0% {
    border-color: #0846b1;
  }
  25% {
    border-color: #0a41f4;
  }
  50% {
    border-color: #0540b6;
  }
  75% {
    border-color: #911891;
  }
  100% {
    border-color: #1313e9;
  }
}

.gradient-border {
  border-width: 4px;
  border-style: solid;
  border-image-slice: 1;
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff00ff);
  background-size: 300% 300%;
  animation: gradient-border 10s infinite, move-gradient 10s infinite;
}

@keyframes move-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}